@model DevSorrident.Models.ModelPaciente

@{
    ViewBag.Title = "Editar Paciente";
}

<h2 style="text-align:center; margin-top:200px;">Editar Paciente</h2>

<div class="center">
    @using (Html.BeginForm("EditarPaciente", "Consulta", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group space-around-flex">
                <div class="black">
                    @Html.LabelFor(model => model.nomePac, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nomePac, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o nome" } })
                    @Html.ValidationMessageFor(model => model.nomePac, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group space-around-flex">
                <div class="black">
                    @Html.LabelFor(model => model.cpfPac, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cpfPac, new { htmlAttributes = new { @class = "form-control", placeholder = "CPF" } })
                    @Html.ValidationMessageFor(model => model.cpfPac, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group space-around-flex">
                <div class="black">
                    @Html.LabelFor(model => model.cepPac, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cepPac, new { htmlAttributes = new { @class = "form-control", placeholder = "CEP" } })
                    @Html.ValidationMessageFor(model => model.cepPac, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group space-around-flex">
                <div class="black">
                    @Html.LabelFor(model => model.telefonePac, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telefonePac, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o telefone" } })
                    @Html.ValidationMessageFor(model => model.telefonePac, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group space-around-flex">
                <div class="black">
                    @Html.LabelFor(model => model.emailPac, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.emailPac, new { htmlAttributes = new { @class = "form-control", placeholder = "exemplo@email.com" } })
                    @Html.ValidationMessageFor(model => model.emailPac, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group center">
                <div class="col-md-10">
                    @ViewBag.msg <br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Editar Paciente" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
<fotter margin-top="20px">
    <br /><br />
    <button>@Html.ActionLink("Voltar para a listagem", "ListarPaciente", "Consulta")</button>
</fotter>
